.sign-in-input{
    width:380px;
    display:flex;
    flex-direction: column;
    background-color: white;
}

.sign-in-submit{
    margin-top: 10px;
    background-color:#264653;
    color: white;
}

.sign-in-header{
    color: #f4a261
}

.sign-in-label{
    color: #f4a261
}