.quiz-detail-container{
    text-align: center;
    color: #f4a261;
}

.quiz-title {
    font-size: 60px;
    margin-bottom: 0;
}
.quiz-question-title{
    font-size:40px;
}
.quiz-content{
    font-size: 25px;
    font-weight: bold;
}

.quiz-detail-back-btn{
    font-size: 20px;
    padding: 5px 0;
    width: 100px;
    border-radius: 1em;
    background-color:#264653;
    border-width: 0;
    color: white;
}

.quiz-detail-back-btn:hover{
    cursor: pointer;
}

.quiz-delete-btn{
    font-size: 15px;
    padding: 5px 0;
    width: 100px;
    border-radius: 1em;
    background-color:#264653;
    border-width: 0;
    color: white;
}

.quiz-delete-btn:hover{
    cursor: pointer;
}

.quiz-add-question{
    font-size: 30px;
}