.quiz-form-container{
    text-align: center;
    color: #f4a261
}

.quiz-form-header{
    font-size: 50px;
    margin-bottom: 0;
}

.quiz-form-subhead{
    font-size: 25px;
}

.quiz-form-input{
    margin-right: 10px;
    background-color: white;
}

.quiz-submit{
    background-color:#264653;
    color: white;
}

.quiz-submit:hover{
    cursor: pointer;
}