.share-container{
    text-align: center;
    color: #f4a261
}

.share-header{
    font-size: 50px;
}

.copy{
    font-weight: bold;
    font-size: 20px;
}

.share-back-btn{
    font-size: 20px;
    padding: 5px 0;
    width: 100px;
    border-radius: 1em;
    background-color:#264653;
    border-width: 0;
    color: white;
}

